<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#
var _namespace = "NFig.Redis.Tests";
var _tierEnum = "Tier";
var _dataCenterEnum = "DataCenter";
#>
using NFig;

namespace <#= _namespace #>
{
    public class DataCenterAttribute : DefaultSettingValueAttribute
    {
        public DataCenterAttribute(<#= _dataCenterEnum #> dataCenter, object defaultValue)
        {
            DataCenter = dataCenter;
            DefaultValue = defaultValue;
        }
    }

    public class TierAttribute : DefaultSettingValueAttribute
    {
        public TierAttribute(<#= _tierEnum #> tier, object defaultValue)
        {
            Tier = tier;
            DefaultValue = defaultValue;
        }
    }

    public class TierDataCenterAttribute : DefaultSettingValueAttribute
    {
        public TierDataCenterAttribute(<#= _tierEnum #> tier, <#= _dataCenterEnum #> dataCenter, object defaultValue)
        {
            Tier = tier;
            DataCenter = dataCenter;
            DefaultValue = defaultValue;
        }
    }
}